<center><h2>Total a pagar: 1504</h2></center>
<center><a href="/checkout" class="btn-btn-neon">Realizar compra</a></center>
{{#each products}}
    <div class="card" style="width: 18rem;">
        <img src="../img/rgb_gb_2560x1600.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{this}}</h5>
            <p class="card-text">$1504</p>
        </div>
    </div>
{{/each}}
