<center>
    <input type="text" placeholder="introduzca su nombre" required>
    <input type="number" placeholder="Numero de telefono" required>
    <input type="email" placeholder="Aqui pon tu email" required>
</center>


    <a href="/" >Realizar compra</a>

