
<center>
    <h3>Detalle de: Rockstar Launchuer </h3>
    <div class="card" style="width: 18rem;">
        <img src="https://i.blogs.es/f2b4ae/logo-rockstar/500_333.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Rockstar Launchuer</h5>
            <p class="card-text">1504</p>
            <a href="/"  class="btn btn-primary">Descargar</a>
        </div>
    </div>
</center>
