
<center>
    <h3>Detalle de: Grand Theft auto V </h3>
    <div class="card" style="width: 18rem;">
        <img src="https://i.ytimg.com/vi/P20ASB1MdnI/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLA1w5mrSTDxzKFw_3zlg98Er6VmrA" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Grand Theft auto V</h5>
            <p class="card-text">1504</p>
            <a href="/cart"  class="btn btn-primary">agregar al carrito</a>
        </div>
    </div>
</center>
