
<center>
    <h3>Detalle de: The Evil within </h3>
    <div class="card" style="width: 18rem;">
        <img src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0204/oHjfzFXZ9EbPz8xizk2r3epu.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">The evil within</h5>
            <p class="card-text">1504</p>
            <a href="/cart"  class="btn btn-primary">agregar al carrito</a>
        </div>
    </div>
</center>
