
<center>
    <h3>Detalle de: BloodBorne </h3>
    <div class="card" style="width: 18rem;">
        <img src="https://image.api.playstation.com/vulcan/img/rnd/202010/2614/NVmnBXze9ElHzU6SmykrJLIV.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">BloodBorne</h5>
            <p class="card-text">1504</p>
            <a href="/cart"  class="btn btn-primary">agregar al carrito</a>
        </div>
    </div>
</center>
