
<center>
    <h3>Detalle de: Resident Evil 7 Biohazard  </h3>
    <div class="card" style="width: 18rem;">
        <img src="https://generacionxbox.com/wp-content/uploads/2016/11/Resident-Evil-7-biohazard-generacion-xbox.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Resident Evil 7 biohazard</h5>
            <p class="card-text">1504</p>
            <a href="/cart"  class="btn btn-primary">agregar al carrito</a>
        </div>
    </div>
</center>
