
<center>
    <h3>Detalle de: The Evil within 2 </h3>
    <div class="card" style="width: 18rem;">
        <img src="https://i.ytimg.com/vi/fo2pvTi-sW8/hq720_live.jpg?sqp=CND87bUG-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLCdBf1GNhTaZjItqPRNOWHj2GWY7w" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">The Evil within 2</h5>
            <p class="card-text">1504</p>
            <a href="/cart"  class="btn btn-primary">agregar al carrito</a>
        </div>
    </div>
</center>
