
<center>
    <h3>Detalle de: Homer</h3>
    <div class="card" style="width: 18rem;">
        <img src="https://martinbrainon.com/inicio/wp-content/uploads/2018/01/lead-nuclear-power-human-error-homer-simpson-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Homer</h5>
            <p class="card-text">1504</p>
            <a href="/cart"  class="btn btn-primary">agregar al carrito</a>
        </div>
    </div>
</center>
