{{#each products}}
<center>
    <h3>Detalle de: {{this}}</h3>
    <div class="card" style="width: 18rem;">
        <img src="../img/rgb_gb_2560x1600.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{this}}</h5>
            <p class="card-text">1504</p>
            <a href="/cart"  class="btn btn-primary">agregar al carrito</a>
        </div>
    </div>
</center>
{{/each}}
