
<center>
    <h3>Detalle de: Error </h3>
    <div class="card" style="width: 18rem;">
        <img src="https://live.mrf.io/statics/i/ps/www.muycomputer.com/wp-content/uploads/2016/12/MensajesErrorWindows.jpg?width=1200&enable=upscale" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Error</h5>
            <p class="card-text">1504</p>
            <a href="/cart"  class="btn btn-primary">agregar al carrito</a>
        </div>
    </div>
</center>
