<center>
    <h3>Detalle de: Sekiro Shadows Die Twice </h3>
    <div class="card" style="width: 18rem;">
        <img src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/814380/capsule_616x353.jpg?t=1721684463" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Sekiro Shadows Die Twice</h5>
            <p class="card-text">1504</p>
            <a href="/cart"  class="btn btn-primary">agregar al carrito</a>
        </div>
    </div>
</center>
