    @import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');


    body {
        margin: 0;
        padding: 0;
        height: 100%;
        background-image: url('./img/gtavc_anniversary_CandySuxx_2880x1800.jpg'); 
        background-repeat: repeat; 
        background-position: top left; 
        background-attachment: fixed; 
        background-size: 1935px; 
    }

    ol {
        border-radius: 10px;
        background-color: white;
    }

    .h1-neon:hover {
        position: relative;
        display: inline-block;
        padding: 15px 30px;
        color: #fff;
        letter-spacing: 4px;
        text-decoration: none;
        font-size: 24px;
        overflow: hidden;
        transition: 0.2s;
        background-image: radial-gradient(circle at 50% -20.71%, #4c7efc 0, #7477f5 5%, #916fec 10%, #a967e1 15%, #bc5ed5 20%, #cc55c7 25%, #d94db8 30%, #e345a9 35%, #ea4099 40%, #ef3c88 45%, #f23c78 50%, #f23f68 55%, #f04458 60%, #ed4b49 65%, #e7533a 70%, #e05b2a 75%, #d76319 80%, #cd6b00 85%, #c27200 90%, #b57900 95%, #a87f00 100%);
        box-shadow: 0 0 10px blueviolet, 0 0 40px blueviolet, 0 0 80px blueviolet;
        transition-delay: 0.1s;
        text-align: center;
        margin-bottom: 20px;
    }

    h1 {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Honk", system-ui;


    }


    .p-products{
margin-top: auto;
    }


    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    label{
        font-size: 2rem;
        font-family: "Honk", system-ui;
    }

    .input{
        font-size: 35px;
    }

    span{
        font-size: 2rem;
        height: 250px;
        font-family: "Honk", system-ui;
    }


    h2 {
        margin-bottom: 20px;
        font-family: "Honk", system-ui;
    }

    #productList {
        margin-top: auto;
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 8px;
        width: 80%;
    }

    #productList li {
        background-image: radial-gradient(circle at 50% -20.71%, #fffd7b 0, #fffe6e 8.33%, #fffd61 16.67%, #fffc55 25%, #f1f94b 33.33%, #d4f642 41.67%, #b5f23c 50%, #92ed3b 58.33%, #69e93f 66.67%, #28e548 75%, #00e154 83.33%, #00dd62 91.67%, #00d972 100%);
        padding: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }



    a {
        font-size: 35px;
        margin: 0;
        left: 60px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Honk", system-ui;
        text-decoration: none;
    }

    .a-a:hover{
        background: #a945c7;
        box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
        transition-delay: 0.1s;
    }

    p {
        margin-top: auto;
        font-family: "Honk", system-ui;
        font-size: 40px;
        text-decoration: none;
    }

    li {
        margin-top: auto;
        font-size: 25px;
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: blueviolet;

    }


    button:hover {
        position: relative;
        display: inline-block;
        padding: 15px 30px;
        color: #fff;
        letter-spacing: 4px;
        text-decoration: none;
        font-size: 24px;
        overflow: hidden;
        transition: 0.2s;
        background-image: radial-gradient(circle at 50% -20.71%, #4c7efc 0, #7477f5 5%, #916fec 10%, #a967e1 15%, #bc5ed5 20%, #cc55c7 25%, #d94db8 30%, #e345a9 35%, #ea4099 40%, #ef3c88 45%, #f23c78 50%, #f23f68 55%, #f04458 60%, #ed4b49 65%, #e7533a 70%, #e05b2a 75%, #d76319 80%, #cd6b00 85%, #c27200 90%, #b57900 95%, #a87f00 100%);
        box-shadow: 0 0 10px blueviolet, 0 0 40px blueviolet, 0 0 80px blueviolet;
        transition-delay: 0.1s;
    }





    input {
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .body-productos {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: consolas;
    }


    .btn-btn-neon {
        position: relative;
        display: inline-block;
        padding: 15px 30px;
        color: #fff;
        letter-spacing: 4px;
        text-decoration: none;
        font-size: 24px;
        overflow: hidden;
        transition: 0.2s;
    }

    .btn-btn-neon:hover {
        background: #a945c7;
        box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
        transition-delay: 0.1s;
    }


    .btn-btn-neon span {
        position: absolute;
        display: block;
    }


    #span1 {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #a945c7);
    }

    .btn-btn-neon:hover #span1 {
        left: 100%;
        transition: 1s;
    }

    #span3 {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, #a945c7);
    }

    .btn-btn-neon:hover #span3 {
        right: 100%;
        transition: 1s;
        transition-delay: 0.5s;
    }


    #span2 {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #a945c7);
    }


    .btn-btn-neon:hover #span2 {
        top: 100%;
        transition: 1s;
        transition-delay: 0.25s;
    }

    #span4 {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #a945c7);
    }

    .btn-btn-neon:hover #span4 {
        bottom: 100%;
        transition: 1s;
        transition-delay: 0.75s;
    }


    ul{
        margin-top: auto;
    }

        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;  
        }
        
        .card:hover  {
            align-items: center;
            justify-content: center;
            transition: 1s;
            flex: 1 1 300px; 
            max-width: 350px; 
            margin: 35px
        }
        

.card:hover{
    cursor: help;
    background-color: #8b0000;
}